@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url("inter-roman.var.woff2") format("woff2");
  font-family: "Inter";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 100 900;
  src: url("inter-italic.var.woff2") format("woff2");
  font-family: "Inter";
  font-display: swap;
}

:root {
  --font-inter: "Inter", ui-sans-serif, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto,
    noto, arial, sans-serif;
}
